html,
body {
    height: 100%;
    margin: 0px;
}
nav {
    display: flex;
    justify-content: space-between;
  }
  
.item {
    flex-basis: 25%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }
#dock{
    position: fixed;
    bottom: 5%;
    width: 50%;
    right: 25%;
    background-color: rgba(0, 0, 0, 0.534);
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.808);
}
.item a{
    text-decoration: none;
    color: aliceblue;
}
.item a[href="index.html"] {
    color: aqua;
}
@media (min-width: 700px) {
    #principal {
        display: flex;
        height: 100%;
        width: 100%;
    }

    .laterais {
        width: 15%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }

    #lado-marvel {
        background-color: red;
    }

    #lado-dc {
        background-color: blue;
    }

    #centro {
        position: relative;
        background-color: black;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        z-index: -1;

    }

    #principal img {
        width: 100%;
    }

    .botao {
        display: flex;
        justify-content: center;
        width: 50%;
        padding: 10%;
        background-color: black;
        border: solid 1px white;
        position: relative;

    }

    .botao a {
        color: aliceblue;
        text-decoration: none;
        font-size: 1em;
    }

    #centro video {
        position: fixed;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    #centro .content {
        z-index: 0;
        width: 40%;
        height: 25%;
        background-color: rgba(91, 97, 97, 0.26);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #centro .content p {
        font-size: 1.5em;
        color: #ffff;
    }
}
@media (max-width: 699px){
    #principal {
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        position: relative;
    }

    .laterais {
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    #lado-marvel {
        background-color: red;
    }

    #lado-dc {
        background-color: blue;
    }

    #centro {
        background-color: black;
        height: 70%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        z-index: -1;
        position: relative;
    }

    #principal img {
        height: 100%;
    }

    .botao {
        display: flex;
        justify-content: center;
        width: 15%;
        padding: 1%;
        background-color: black;
        border: solid 1px white;
        position: relative;

    }

    .botao a {
        color: aliceblue;
        text-decoration: none;
        font-size: 1em;
    }

    #centro video {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        height: 100%;
    }

    #centro .content {
        z-index: 0;
        margin: auto;
        width: 40%;
        height: 25%;
        background-color: rgba(91, 97, 97, 0.199);
        border: 0px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #centro .content p {
        font-size: 1.5em;
        color: #ffff;
    }
    #dock {
        bottom: 20%;
    }
}
@media (max-width: 480px) {
    #principal img {
        height: 70%;
    }
    .botao a {
        font-size: 0.8em;
    }
    #dock { 
        width: 60%;
        right: 20%;
    }
}
@media (max-width: 380px) {
    #principal img {
        height: 50%;
    }
    #dock { 
        width: 70%;
        right: 15%;
    }
}

.item:hover{
    background-color: blue;
    scale: 1.3;
    border: 1px solid black;
    transition: 1s;
}

  
  /* Estilo do dropdown */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  /* Estilo do dropdown */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Estilos específicos do dropdown 1 */
  #dropdown1 .dropdown-content {
    top: 40px; /* Posição do dropdown 1 em relação ao botão */
    left: 0;
  }
  
  /* Estilos específicos do dropdown 2 */
  #dropdown2 .dropdown-content {
    top: 40px; /* Posição do dropdown 2 em relação ao botão */
    right: 0;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .show {
    display: block;
  }
  
  


