html, body{
    min-height: 100%;
    margin: 0px;
}
h1 {
    text-align: center ;
}
.imagem-circular {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: solid 3px white;
    background-color: white;
  }
  .imagem-circular  img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
  }
 .principal
  {
    display: flex;
    flex-wrap:wrap;
  }
 .personagens
  {
    width: 50%;
    position: relative;
  }
  .personagens h2{
    position: absolute;
    left: 220px;
    top: 50%;
  }
  .em-cima{
    margin-bottom: 20%;
  }

  #marvel {
    background-image: linear-gradient(150deg, #ed1d24, #f9bc2f);
    padding: 40px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #dc{
    background-image: linear-gradient(150deg, #0072C6, #FFFFFF);
    padding: 40px;
    background-repeat: no-repeat;
    background-size: cover;
  }

