html, body{
    min-height: 100%;
    margin: 0px;
}
body{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    background-color: rgb(179, 14, 14);
    justify-content: space-around;
}
.spider {
    width: 30%;
}
#tom {
    background-image: url(../imagens/simbolo\ tom.png);
    background-repeat: repeat;
    background-size: 20%;
}
#andrew{
    background-image: url(../imagens/simbolo\ andrew.png);
    background-repeat: repeat;
    background-size: 20%;
}
#tobey {
    background-image: url(../imagens/simbolo\ tobey.png);
    background-repeat: repeat;
    background-size: 20%;
}
.spider img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 60%;
    border-top: red solid 3px;
    border-left: red solid 3px;
    border-right:blue solid 3px;
    border-bottom:blue solid 3px;
    position: relative;
    top: 10px;
}
#youtube{
    width: 100%;
    text-align: center;
}

p{
    font-size: x-large;
}
.geral {
    background-color:rgba(255, 255, 255, 0.651) ;
    border-radius: 20px;
    padding: 10px;
    text-align: justify;
    margin: 4%;
}
h2{
    text-align: center;
}
h1{
    font-size: 50px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
  }
  #voltar{
    text-align: left;
    text-decoration: none;
    color: darkcyan;
  }